<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Template Tutorial</title>
  </head>
  <body>
    <!-- If you want to extend a template in a html file, you have to extend it as follows.-->
    {% extends "template.html" %}
    <!-- then whatever you want to write in page extending the template, you can write in block content. Don't forget the end block tag --> 
    {% block content %}
    
    <h1> We are using templates in flask.</h1>
    <p> Flask is a micro web framework. </p>
    
    {% endblock %}
  </body>
</html>
